body{
    max-width: 1080px;
    background-image: url("../article/bg.png");
    background-size: cover;
}
.searchbar{
    position: absolute;
    right: 0px;
    top: 0px;
    border: none;
    border-radius: 15px;
    background-color: #c6c6d06c;
    padding: 5px;
}
.searchbar form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.search{
    background: none;
    border: none;
}
.mobileheader{
    display: none;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 0px 5px grey;
}
.maincontent{
    display: flex;
    margin-top: 100px;
}
.left{
    background-image: url("../article/largeimage.png");
    background-size: cover;
    min-width: 250px;
    min-height: 350px;
    position: relative;
    border-radius: 10px;
}
#label{
    position: absolute;
    top: 0px;
    right: 10px;
}
.right{
    margin-left: 30px;
    position: relative;
}
#paragraph{
    min-height: 125px;
    padding-right: 50px;
}
.smallimage{
    display: flex;
    align-items: flex-end;
}
.img{
    margin-right: 10px;
}
.button{
    position: absolute;
    right: 0px;
    top: 0px;
}
.mimg{
    display: none;
    justify-content: center;
    margin: 30px;
}
#mlargeimage{
    height: 200px;
    margin-right: 20px;
}
.msmallimg > img{
    display: block;
}
.mcheck{
    display: none;
    max-width: 250px;
    margin: auto;
}
.morecontainer{
    display: none;
    max-width: 250px;
    margin: auto;
}
.btnmore{
    width: 80px;
    background-color: #4620ac;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px;
}
.content{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}
.content div{
    flex: 1;
    position: relative;
    max-width: 250px;
}
.content > div{
    box-shadow: 0px 0px 5px #888888;
    border-radius: 5%;
    margin: 10px;
}
#cont1{
    margin-left: 0px;
}
#cont5{
    margin-right: 0px;
}
.bg1{
    background-image: url("../article/img1.png");
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 130px;
    position: relative;
}
.bg2{
    background-image: url("../article/img2.png");
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 130px;
    position: relative;
}
.bg3{
    background-image: url("../article/img3.png");
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 130px;
    position: relative;
}
.bg4{
    background-image: url("../article/img4.png");
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 130px;
    position: relative;
}
.bg5{
    background-image: url("../article/img5.png");
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 130px;
    position: relative;
}
.clogo{
    position: absolute;
    top: 10px;
    right: 10px;
}
.info{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.content h3{
    font-size: 11px;
    font-weight: bold;
}
.content p{
    font-size: 7px;
    font-weight: bold;
}
.btn{
    position: absolute;
    top: 25px;
    right: 10px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: #c6c6d06c;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
.mfooter{
    display: none;
    text-align: center;
    margin: 10px;
}
@media screen and (max-width: 1000px) {
    .maincontent{
        margin: 20px;
    }
    .searchbar{
        right: 20px;
    }
    .content{
        flex-wrap: wrap;
        justify-content: center;
    }
    .content div{
        flex: 33%;
    }
}
@media screen and (max-width: 600px) {
    .header{
        display: none;
    }
    .menubar{
        display: none;
    }
    .mobileheader{
        display: flex;
    }
    .maincontent{
        display: none;
    }
    .mimg{
        display: flex;
    }
    .mcheck{
        display: block;
    }
    .morecontainer{
        display: block;
    }
    .content{
        margin-bottom: 0px;
    }
    .content > div{
        flex: 100%;
        margin-left: 50px;
        margin-right: 50px;
    }
    #cont1{
        margin-left: 50px;
    }
    #cont5{
        margin-right: 50px;
    }
    .button{
        display: none;
    }
    .mfooter{
        display: block;
    }
}