body{
    max-width: 1080px;
    background-image: url("../audio/background.png");
    background-size: cover;
}
.searchbar{
    position: absolute;
    right: 0px;
    top: 0px;
    border: none;
    border-radius: 15px;
    background-color: #c6c6d06c;
    padding: 5px;
    margin-right: 20px;
}
.searchbar form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.search{
    background: none;
    border: none;
}
.content{
    display: flex;
    margin-bottom: 100px;
}
.content > div{
    flex: 1;
    margin: 20px;
}
.cleft{
    border-radius: 5px;
    border: 1px solid #c6c6d0;
    box-shadow: 0px 0px 5px;
}
.lefttop{
    display: flex;
    padding: 20px;
    font-size: 90%;
}
.imgnewrule{
    flex: 1;
}
.newrule{
    flex: 2;    
    margin-left: 20px;
}
#nrh1{
    margin-bottom: 0px;
}
.newrule > h3{
    margin: 0px;
}
.newbutton{
    display: flex;
    margin-top: 20px;
}
.btn{
    padding: 5px;
    padding-right: 20px;
    margin-right: 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #c6c6d0;
    cursor: pointer;
    font-size: 9px;
    min-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnimg{
    margin-left: 5px;
    margin-right: 5px;
}
.scrollbar{
    overflow-y: scroll;
    height: 300px;
}
.scrollbar > div{
    display: flex;
    position: relative;
    border-bottom: 1px solid #c6c6d0;
    padding: 10px;
}
.btnmusic{
    margin-left: 10px;
    margin-right: 10px;
}
#music7{
    border-bottom: none;
}
p{
    margin: 0px;
}
.dlicon{
    height: 15px;
    position: absolute;
    right: 100px;
    top: 10px;
}
.duration{
    position: absolute;
    right: 10px;
    top: 10px;
}
.righttop{
    border-radius: 10px;
    box-shadow: 0px 0px 5px;
}
.positive{
    background-image: url("../audio/bg.png");
    background-size: cover;
    min-height: 150px;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.be{
    background-color: rgba(0,0,0,0.3);
    color: white;
    border: none;
    border-radius: 25px;
    padding-left: 50px;
    padding-right: 50px;
}
#bepoh3{
    margin: 5px;
}
.about{
    padding: 20px;
    position: relative;
    font-size: 80%;
}
#add{
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.rightbot{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    font-size: 50%;
}
.rightbot > div{
    flex: 1;
    border-radius: 5%;
    box-shadow: 0px 0px 5px #888888;
    position: relative;
}
.title{
    padding: 10px;
}
.imgtitle{
    width: 100%;
}
.btnplay{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.img2{
    margin-left: 20px;
    margin-right: 20px;
}
.footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    background-color: #4824ac;
    width: 100vw;
}
.fsize{
    display: flex;
    justify-content: center;
    color: white;
    padding: 10px;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}
.icon{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.fleft{
    width: 15%;
    padding-left: 10px;
}
.fmid{
    width: 65%;
}
.bar{
    display: flex;
}
.yellow{
    width: 30%;
    height: 8px;
    background-color: yellow;
}
.white{
    width: 70%;
    height: 8px;
    background-color: white;
}
.fright{
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 20%;
}
.fright > img{
    margin-left: 20px;
}
#fplay{
    margin-left: 10px;
    margin-right: 10px;
}
.mobileheader{
    display: none;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 0px 5px grey;
}
.mbtn{
    display: none;
    justify-content: space-between;
    margin: 20px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.mbtn button{
    flex: 1;
    min-width: 120px;
    cursor: pointer;
}
.audio{
    color: #4824ac;
    border: 1px solid #4824ac;
    padding: 5px;
    border-radius: 25px;
    background-color: white;
}
.librec{
    color: white;
    background-color: #4824ac;
    border-radius: 25px;
    padding: 5px;
    border: none;
}
.mlist{
    margin-top: 50px;
    display: none;
    overflow-y: scroll;
    height: 300px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}
.audiolist{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}
.dot{
    position: absolute;
    bottom: 0px;
    right: 8px;
}
.mlist h3{
    margin-bottom: 0px;
}
.mobfooter{
    display: none;
}
@media screen and (max-width: 800px){
    .content{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 600px){
    .mobileheader{
        display: flex; 
    }
    .header{
        display: none;
    }
    .menubar{
        display: none;
    }
    .leftbot{
        display: none;
    }
    .cright{
        display: none;
    }
    .footer{
        display: none;
    }
    .content{
        margin-bottom: 0px;
    }
    .content > div{
        flex: 1;
        width: 100%;
    }
    .cleft{
        border: none;
        box-shadow: none;
    }
    .lefttop{
        flex-wrap: wrap;
    }
    .lefttop > div{
        min-width: 500px;
        text-align: center;
    }
    .newrule{
        margin: 0px;
    }
    .newbutton{
        justify-content: center;
    }
    .btn{
        width: 150px;
        font-size: 12px;
    }
    .mbtn{
        display: flex;
    }
    .mlist{
        display: block;
    }
    .mobfooter{
        display: block;
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100vw;
        color: #4824ac;
    }
    .mobfootersize{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: white;
        box-shadow: 0px 0px 5px grey;
    }
}