.famous{
    background-image: url("../foodsimg/foodbg.jpg");
    background-size: cover;
    height: 80vh;
    background-position: center;
}
.famoustext{
    display: flex;
    height: 80vh;
    color: #5A5A5A;
    font-size: 35px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    margin: 30px 0;
    color: #053742;
}
.container > div{
    margin: 10px;
}
.container img{
    width: 100%;
    max-width: 300px;
    height: 180px;
}
.container > div{
    flex: 1;
}
.title{
    text-align: center;
}
.container h3{
    text-align: center;
    margin-bottom: 0;
}
#c1{
    background-color: #E8F0F2;
}
#c2{
    background-color: #A2DBFA;
}
#c3{
    background-color: #39A2DB;
}
@media screen and (max-width: 900px){
    .famoustext{
        font-size: 25px;
    }
    .container{
        flex-wrap: wrap;
    }
    .container > div{
        flex: 45%;
        text-align: center;
    }
    .container img{
        max-width: 350px;
    }
}
@media screen and (max-width: 600px){
    .famoustext{
        font-size: 20px;
    }
    .container > div{
        flex: 100%;
    }
}