body{
    font-family: 'Lato', sans-serif;
    max-width: 1280px;
    margin: auto;
}
.header{
    display: flex;
    height: 10vh;
    color: #707070;
}
.headerleft{
    display: flex;
    align-items: center;
    flex: 1;
}
.logoimg > img{
    width: 40px;
    margin-left: 20px;
    margin-right: 10px;
}
.nav {
    display: none;
    position: absolute;
    top: 35px;
    right: 10px;
}
.headerright{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 2;
}
.headerright a{
    margin-left: 10px;
    margin-right: 5px;
    text-decoration: none;
    color: #707070;
}
.headerright a:hover{
    border-bottom: 2px solid grey;
}
#mobilelink{
    display: none;
}
#mobilelink a{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #707070;
    margin: 0px;
}
#mobilelink a:hover{
    background-color: #ddd;
}
.selected{
    border-bottom: 2px solid grey;
}
.mselected{
    background-color: #ddd;
}
@media screen and (max-width: 600px){
    .headerright{
        display: none;
    }
    .nav{
        display: block;
    }
}